.navbar {
  background-color: #B5828C;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar-links a:hover {
  text-decoration: underline;
}
