.calendar-container {
  background-color: #FFCDB2;
  min-height: 100vh;
  padding: 20px;
  color: #6D6875;
}

.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.calendar-header h2 {
  font-size: 1.5rem;
  color: #B5828C;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.calendar-day-header {
  font-weight: bold;
  text-align: center;
  color: #B5828C;
}

.calendar-day {
  background-color: #FFB4A2;
  text-align: center;
  padding: 20px;
  border-radius: 6px;
  cursor: pointer;
}

.calendar-day:hover {
  background-color: #E5989B;
}

.empty {
  background-color: transparent;
  pointer-events: none;
}
